<div class="panel">
  <div class="modal fade" id="clips-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <img class="selected-photo-img" src="https://cdn.roomclip.jp/v1/640/roomclip-bucket/ img_750/968ccad899e43adc4de29c68edefccf40cfd2979.jpg">
          <h3 class="modal-title" id="clips-modal-label">Modal 保存先のフォルダを選択</h3>
        </div>
        <div class="modal-body">
          <!-- <div class="text-area">
            <span>フォルダの名前</span>
            <img class="close-btn" src="/assets/img/v3/folder/close_button.png" alt="☓">
            <input type="text" class="folder-name" id="folder_name_area" placeholder="フォルダの名前を入力してください">
            <label class="alart-label">フォルダ名は20文字以下です</label>
          </div> -->
          <p class="createfolder close-name-field" >
            <span class="far fa-folder"></span>
            <span>フォルダを新規作成</span>
          </p>
        </div>
        <div class="modal-footer">
          <div class="no-contents">
            <a href="https://roomclip.jp/assets/img/v3/folder/nofolder_pc.png" id="eye-catch"></a>
            <h2>フォルダがありません</h2>
            <p>
              上のボタンからフォルダを新しくつくって、<br>
              お気に入りの写真をクリップしましょう！
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
