<!doctype html>

<%= form_for @clip do |f| %>
  <section id="Upload-navigation">
    <section id="Stage-caption">
      <div class="first">写真/コメント/タグを登録しましょう</div>
    </section>
    <nav id="Stage-navi" style="display: block">
      <div class="third">
        <%= f.submit '投稿', :class => 'radius-min button-color-red' %>
      </div>
    </nav>
  </section>

  <article id="Contents">
    <section id="Contents-left" class="upload-left radius-mid" style="display: ">
        <div id="Image-upload-button">
          <%= f.file_field :image, required: true, :class => 'clip-preview' %>
          <div class="clip-auto-preview"></previw>
          <span class="color-light-middle">
            写真を選択
            <br>
            <font size="-1" class="browse-ie">（ 投稿に失敗する場合はこちらから ）</font>
          </span>
        </div>
        <div id="Thumb-field" style>
          <img src="" id="Thumb-image">
        </div>
     </section>

    <section id="Contents-extra" class="upload-extra radius-mid" style="display: ">
        <div class="contents-extra-wrapper">
          <h3 class="color-light-middle">コメント</h3>
          <textarea id="Comment-input" class="border-light color-middle"></textarea>

          <h3><%= f.label :tag_list, :class => 'tag-label' %></h3>
          <div id="Tag-field">
            <input type="text" id="Tag-input" class="border-light color-middle tag-autocomplete">
            <button type="button" id="Tag-input-button" class="border-light button-color-white add-tag-button">追加</button>
            <div id="Tag-input-list" class="color-light border-light" >
              <input type="hidden" name="clip[tag_list]" id="tag-send">
              <span id="before-input">追加されたタグはここに表示されます</span>
            </div>
          </div>

          <h2 class="color-light-middle">コンテスト用のタグ</h2>
          <select class="select2" id="Contest-select" >
            <option value="">コンテストリスト</option>
            <option value="637">パナソニックとわが家のこだわり空間</option>
            <option value="631">ソファーのある暮らし</option>
            <option value="635">ナチュラルインテリア</option>
            <option value="638">10分でできる100均リメイクRoomClip mag連動企画】</option>
            <option value="628">「アイテムタグつけてね」アロマディフューザー</option>
            <option value="633">ティンパネル</option>
            <option value="619">サンキュ！×RoomClipコラボ企画「プチプラ☆インテリア大賞」</option>
            <option value="622">初投稿ユーザーさん対象！RoomClipで初投稿 PART14 </option>
            <option value="623">みんなでシェアしよう！あの新商品買ったよ</option>
            <option value="634">わが家のタニタ</option>
            <option value="627">あ！わが家のNODAみつけた！</option>
            <option value="614">子供部屋&amp;キッズスペース</option>
            <option value="617">漆喰壁DIY！</option>
            <option value="618">趣味部屋で暮らす</option>
          </select>

          <h2 class="color-light-middle">プロフィールタグ</h2>
          <div id="Tag-profile">
            <div class="tag-back radius-min tag-insert" data-tag="Overview">部屋全体</div>
            <div class="tag-back radius-min tag-insert" data-tag="My Desk">机</div>
            <div class="tag-back radius-min tag-insert" data-tag="Lounge">リビング</div>
            <div class="tag-back radius-min tag-insert" data-tag="Bedroom">ベッド周り</div>
            <div class="tag-back radius-min tag-insert" data-tag="My Shelf">棚</div>
            <div class="tag-back radius-min tag-insert" data-tag="Kitchen">キッチン</div>
            <div class="tag-back radius-min tag-insert" data-tag="On Walls">壁/天井</div>
            <div class="tag-back radius-min tag-insert" data-tag="Entrance">玄関/入り口</div>
            <div class="tag-back radius-min tag-insert" data-tag="Bathroom">バス/トイレ</div>
          </div>
          <h2 class="color-light-middle">最近使用したタグ</h2>
          <div id="Tag-recent">
            <div class="tag-back radius-min tag-insert" data-tag="雑貨">雑貨</div>
            <div class="tag-back radius-min tag-insert" data-tag="下駄箱">下駄箱</div>
            <div class="tag-back radius-min tag-insert" data-tag="玄関収納">玄関収納</div>
            <div class="tag-back radius-min tag-insert" data-tag="フクロウ">フクロウ</div>
            <div class="tag-back radius-min tag-insert" data-tag="ふくろう">ふくろう</div>
            <div class="tag-back radius-min tag-insert" data-tag="梟">梟</div>
            <div class="tag-back radius-min tag-insert" data-tag="玄関棚">玄関棚</div>
            <div class="tag-back radius-min tag-insert" data-tag="シューズクローゼット">シューズクローゼット</div>
            <div class="tag-back radius-min tag-insert" data-tag="稼働棚">稼働棚</div>
            <div class="tag-back radius-min tag-insert" data-tag="立つほうき">立つほうき</div>
          </div>
          <h1 class="color-light-middle">SNS連携</h1>
          <div class="sns-button-field">
            <button data-site="fb" class="fb sns-button fontello color-light "></button>
            <button data-site="tw" class="tw sns-button fontello color-light "></button>
          </div>
        </div>
    </section>
  </article>
<% end %>

<div id=SNS-event-holder">
</div>
