<%= form_for(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :follow_id, @user.id %></div>
  <%= f.submit "フォローする", class: "sendfollow color-light-middle" %>
  <span class="fa fa-plus fa-lg"></span>
<% end %>
