<!DOCTYPE html>
  <link rel="stylesheet" href="../assets/stylesheets/header.css">
      <footer id="l-footer" class="l-footer">
  <div class="l-footer__applink">
    <div class="u-maxwidth-pc-outer">
      <div class="u-minwidth-pc-inner l-footer__applink-inner">
        <img class="l-footer__applink-image" src="https://roomclip.jp/assets/img/1703/logo/logo_appstore@2x.png" srcset="https://s3-ap-northeast-1.amazonaws.com/roomclip-web-img/300/mag_pc_applink.png 1x,https://s3-ap-northeast-1.amazonaws.com/roomclip-web-img/300/mag_pc_applink@2x.png 2x" alt="日本最大のインテリア実例アプリRoomClip">
        <div class="l-footer__applink-button-left  l-footer__applink__button">
          <a href="https://itunes.apple.com/jp/app/id520802798" class="applink_ad">
            <img class="l-footer__applink-button" src="https://roomclip.jp/assets/img/1703/logo/logo_appstore@2x.png" alt="RoomClipはiOSアプリでご利用いただけます">
          </a>
        </div>
        <div class="l-footer__applink-button-right  l-footer__applink__button">
          <a href="https://play.google.com/store/apps/details?id=com.tunnel.roomclip" class="applink_ad">
            <img class="l-footer__applink-button" src="https://roomclip.jp/assets/img/1703/logo/logo_googleplay@2x.png" alt="RoomClipはAndroidアプリでご利用いただけます">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="l-footer__mag-sns">
    <div class="u-maxwidth-pc-outer">
      <div class="u-minwidth-pc-inner">
        <div class="l-footer__mag-sns-left">
          <div class="c-mag-link">
  <div class="c-mag-link__text">
    暮らしとインテリアのwebマガジン
  </div>
    <a href="/mag">
      <img class="c-mag-link__image" src="https://roomclip.jp/assets/img/1703/logo/logo_roomclipmag@2x.png" alt="暮らしとインテリアのwebマガジン RoomClip mag">
    </a>
  </div>


        </div>
        <div class="l-footer__mag-sns-right">
          <div class="c-rc-sns-link">
  <div class="c-rc-sns-link__text">
    OFFICIAL SNS
  </div>
    <div class="c-rc-sns-link__image-container">
      <a class="c-rc-sns-link__link" href="https://www.facebook.com/RoomClip" target="_blank">
        <img class="c-rc-sns-link__link__image" src="https://roomclip.jp/assets/img/1703/sns/icon_sns_facebook_color@2x.png"  alt="Facebookのアカウント">
      </a>
      <a class="c-rc-sns-link__link" href="https://www.instagram.com/roomclipjp" target="_blank">
        <img class="c-rc-sns-link__link__image" src="https://roomclip.jp/assets/img/1703/sns/icon_sns_instagram_color@2x.png"  alt="Instagramのアカウント">
      </a>
      <a class="c-rc-sns-link__link" href="https://jp.pinterest.com/roomclip" target="_blank">
        <img class="c-rc-sns-link__link__image" src="https://roomclip.jp/assets/img/1703/sns/icon_sns_pinterest_color@2x.png" alt="Pinterestのアカウント">
      </a>
      <a class="c-rc-sns-link__link" href="https://twitter.com/RoomClipJP" target="_blank">
        <img class="c-rc-sns-link__link__image" src="https://roomclip.jp/assets/img/1703/sns/icon_sns_twitter_color@2x.png" alt="Twitterのアカウント">
      </a>
    </div>
  </div>

        </div>
      </div>
    </div>
  </div>
  <div class="l-footer__link-copyright">
    <div class="u-maxwidth-pc-outer">
      <div class="u-minwidth-pc-inner">
        <span class="l-footer__left">
          <div class="l-footer__link_group">
            <a class="l-footer__link" href="/doc/entry">RoomClipって？</a>
            <a class="l-footer__link" href="https://roomclip.jp/r?d=help">ヘルプページ</a>
            <a class="l-footer__link" href="/contact">お問い合わせ</a>
            <a class="l-footer__link" href="/doc/terms">利用規約</a>
            <a class="l-footer__link" href="/doc/privacy">プライバシーポリシー</a>
            <a class="l-footer__link" href="https://corp.roomclip.jp">運営会社</a>
          </div>
        </span>
        <span class="l-footer__right">
          <div class="l-footer__copyright_text">
            (c) 2018 RoomClip Inc.
          </div>
        </span>
      </div>
    </div>
  </div>
</footer>
