<div id="l-top" class="c-top">
  <div class="c-top__container">
    <div class="c-top__container-wrap">
                  <h1 class="c-top__subject">
        の「<%= @tag.name %>」
      </h1>
                      </div>
  </div>

  <div class="c-top__container">
    <div class="c-top__container-wrap">
      <ul class="c-top__bar c-bread">
                <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/" class="c-bread__item-link" itemprop="url">
            <span class="c-bread__item-label" itemprop="title">部屋の実例</span>
          </a>
        </li>
                <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/myroom/3429048" class="c-bread__item-link" itemprop="url">
            <span class="c-bread__item-label" itemprop="title">natsu0728のお部屋</span>
          </a>
        </li>
                <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/myphoto/3429048" class="c-bread__item-link" itemprop="url">
            <span class="c-bread__item-label" itemprop="title">natsu0728の写真一覧</span>
          </a>
        </li>
                <li class="c-bread__item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/myphoto/3429048?tag_id=2" class="c-bread__item-link" itemprop="url">
            <span class="c-bread__item-label" itemprop="title">natsu0728の「<%= @tag.name %>」</span>
          </a>
        </li>
              </ul>
    </div>
  </div>
</div>
<div id="main">
  <section class="entry-photo-list" style="padding-bottom: 10px;">
  <article >
    <div class="month">2018年7月</div>
      <% @clips.each do |clip| %>
      <section class="entry-photo" id="pid3775264">
        <%= link_to image_tag(clip.image),clip_path(clip), alt: "タグ画像"%>
    </section>
    <% end %>
  </article>
<div id="infscr-loading" style="display: none;"><img alt="Loading..." src="/assets/img/loading/loading_bar.gif" style="display: none;"><div style="opacity: 1;">none</div></div></section>
</div>
