.p-category-links {
  float: left;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #443311;
  font-weight: bold;
  margin: 0 2rem 0 0;
}
.p-category-links__link {
  text-decoration: none;
  color: #443311;
}
.p-category-links-sep {
  border: #cfc5b8 solid 0.1rem;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1rem;
}
.p-category-links-wrap {
  margin: 2.4rem 0 0 0;
}
.c-accordion {
  width: 100%;
  background-color: #ffffff;
  font-size: 1.3rem;
  color: #443311;
  border-bottom: 0.1rem solid #eae7e2;
  clear: both;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.c-accordion__item {
  width: 100%;
  min-height: 4.8rem;
  border-top: 0.1rem solid #eae7e2;
  cursor: pointer;
}
.c-accordion__item-container {
  display: flex;
  align-items: center;
  transition: 0.2s 0s ease-out;
  width: 100%;
  height: 4.8rem;
  padding: 0 0.8rem 0 1.2rem;
  &:hover {
    background-color: #ffebeb;
  }
}
.c-accordion__item-label {
  margin-right: 0.8rem;
  max-width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-accordion__item-counter {
  margin-left: 0.8rem;
  font-size: 1rem;
  color: rgba(68, 51, 17, 0.6);
  white-space: nowrap;
}
.c-accordion__item-icon {
  width: 1.8rem;
  height: 1rem;
  margin-left: auto;
}
.c-accordion__tree {
  width: 100%;
  background-color: #f6f5f4;
  border-top: 0.1rem solid #eae7e2;
  display: none;
}
.c-accordion__tree-item {
  transition: 0.2s 0s ease-out;
  width: 100%;
  height: 4.8rem;
  border-top: 0.1rem solid #eae7e2;
  &:hover {
    color: #cfcabf;
  }
  &:first-child {
    border-top: none;
  }
}
.c-accordion__tree-item-link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #443311;
  font-size: 1.3rem;
  &:hover {
    background-color: #cfcabf;
  }
}
.c-accordion__tree-item-label {
  margin: 0 0 0 1.2rem;
  max-width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-accordion__tree-item-counter {
  font-size: 1.1rem;
  color: rgba(68, 51, 17, 0.6);
  padding: 0;
  margin: 0 3.9rem 0 0.8rem;
  white-space: nowrap;
}
.c-accordion__tree-item-icon {
  width: 0.4rem;
  height: 0.8rem;
  margin-left: auto;
  margin-right: 0.8rem;
}
.c-accordion__item:first-child {
  border-top: none;
}
.c-accordion * {
  box-sizing: border-box;
}
