#volume-top {
  width: 96rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  margin: 2rem auto 1.5rem;
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    width: 100%;
    background: #e9e4de;
    li:first-child {
      padding-left: 0;
    }
    li > a:visited {
      color: #362e2b;
    }
    li > a {
      display: inline-block;
      height: 100%;
      color: inherit;
      text-decoration: inherit;
      cursor: inherit;
      color: inherited;
      cursor: pointer;
    }
    li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      float: left;
      padding-left: 4px;
      padding-right: 4px;
      width: 50%;
      height: 4rem;
      margin: 0;
      padding: 0;
      font-size: 1.6rem;
      color: #0f0e0d;
      .date {
        color: #362e2b;
        font-size: 1.2rem;
      }
    }
    .prev {
      .arrow {
      background: url(https://roomclip.jp/assets/img/v3/sprite/common.png) 0 -28px no-repeat;
      width: 12px;
      height: 16px;
      float: left;
      margin: 1.2rem 1rem 0 1rem;
      }
    }
    li:last-child {
      padding-right: 0;
    }
    .next {
      text-align: right;
      .arrow {
        background: url(https://roomclip.jp/assets/img/v3/sprite/common.png) 0 -44px no-repeat;
        width: 12px;
        height: 16px;
        float: right;
        margin: 1.2rem 1rem 0 1rem;
      }
    }
  }
}
