
@charset "UTF-8";

/*ヘッダーCSS*/
html {
    font-family: "Quicksand","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴシック Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 62.5%;
}
body {
    padding: 0 0 0 0;
}
div {
    display: block;
}
script {
    display: none;
}
a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    color: #DC3C36;
    text-decoration: underline;
}

#l-header {
    height: 6.4rem;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.09);
}
.u-maxwidth-pc-outer {
    max-width: 104rem;
    margin: 0 auto;
}
.l-header__top-bar-inner {
    position: relative;
}
.u-minwidth-pc-inner {
    min-width: 100rem;
    margin: 0 2rem 0 2rem;
}
.u-clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.l-header__left {
    float: left;
    margin: 1.6rem 0 1.6rem 0;
}
fieldset, img {
    border: 0;
}
.l-header__logo-image {
width : 13.1rem;
}
.l-header__center {
    position: absolute;
    left: 25rem;
    top: 1.5rem;
}
.l-header__search-image {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: auto;
}
.l-header__search-input {
    height: 3.2rem;
    width: 50rem;
    border-radius: 0.8rem;
    border: solid 1px #eae7e2;
    background-color: #fbfbfb;
    padding: 0 0 0 3rem;
    font-size: 1.4rem;
}
#l-header :placeholder-shown {
    color: rgba(68, 51, 17, 0.35);
}
.l-header__search-result {
    position: relative;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.25);
    border: solid 1px #eae7e2;
    border-top: none;
    top: -0.5rem;
    padding-top: 1rem;
    display: none;
}
.l-header__right {
    float: right;
}
.l-header__search-room {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(https://roomclip.jp/assets/img/1703/pc_header/icon_search_pc_off@2x.png);
    background-size: 100%;
    margin: 0 0 0 1.6rem;
    cursor: pointer !important;
}
.l-header__search-room:hover{
    background: url(https://roomclip.jp/assets/img/1703/pc_header/icon_search_pc_on@2x.png);
    background-size: 100%;
}
.l-header__timeline {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(https://roomclip.jp/assets/img/1703/pc_header/icon_timeline_pc_off@2x.png);
    background-size: 100%;
    margin: 0 0 0 1.6rem;
    cursor: pointer !important;
}
.l-header__timeline:hover {
    background: url(https://roomclip.jp/assets/img/1703/pc_header/icon_timeline_pc_on@2x.png);
    background-size: 100%;
}
.l-header__news {
    display: inline-block;
    margin: 0 0 0 1.6rem;
    cursor: pointer;
    position: relative;
}
.c-post {
    display: none;
    width: 3rem;
    height: 2.4rem;
    background: url(https://roomclip.jp/assets/img/1703/pc_header/icon_news_pc_off@2x.png);
    background-size: 100%;
}
.c-post--notice {
    width: 3rem;
    height: 2.4rem;
    background: url(https://roomclip.jp/assets/img/1703/pc_header/icon_news_pc_off@2x.png);
    background-size: 100%;
}
.c-post--notice:hover {
    background: url(https://roomclip.jp/assets/img/1703/pc_header/icon_news_pc_on@2x.png);
    background-size: 100%;
}
.l-header__dropdown-news {
    position: absolute;
    width: 36rem;
    right: -0.5rem;
    top: 3rem;
}
.l-header__user {
    display: inline-block;
    margin: 1.2rem 1.2rem 0 1.6rem;
    position: relative;
    cursor: pointer;
}
.l-header__user-image {
    border-radius: 1.6rem;
    height: 3.2rem;
    width: 3.2rem;
    border: solid 1px #cfcabf;
}
.l-header__dropdown-menu {
    position: absolute;
    width: 20rem;
    right: 0;
    top: 4rem;
    z-index: 100;
}
.c-dropdown-menu {
    display: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #eae7e2;
    z-index: 100;
}
.c-dropdown-menu:before {
    position: absolute;
    top: -6px;
    right: 11px;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFF;
    display: inline-block;
    z-index: 11;
}
.c-dropdown-menu-row-link {
    height: 4.6rem;
    position: relative;
    display: block;
    text-decoration: none;
}
.c-dropdown-menu-row-link-text {
    font-family: HiraKakuProN-W3;
    font-size: 14px;
    color: #443311;
    position: relative;
    top: 1.25rem;
    margin: 0 0 0 1rem;
}
.c-dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 10px;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
}


/*フッダーCSS*/
.l-footer {
text-align : center;
margin-top : 8rem;
}
.l-footer__links {
padding : 1.7rem 0 0 0;
height : 4.7rem;
font-family : HiraKakuProN-W3;
font-size : 1rem;
font-weight : normal;
font-style : normal;
font-stretch : normal;
line-height : 1.0;
letter-spacing : normal;
}
.l-footer__link {
margin : 0 2.4rem 4rem 0;
font-family : HiraKakuProN-W3;
font-size : 1.3rem;
color : #443311;
text-decoration : none;
}
.l-footer__link:hover {
color : #dc3c36;
}
.l-footer__link_group {
margin : 4rem 0 4rem 0;
}
.l-footer__left-copyright {
height : 9.3rem;
}
.l-footer__copyright {
height : 3.8rem;
padding : 1.5rem 0 0 0;
background-color : #eae7e2;
}
.l-footer__link-copyright {
border-top : 0.1rem solid #eae7e2;
}
.l-footer__copyright_text {
margin : 4rem 0 4rem 0;
font-family : HiraKakuProN-W3;
font-size : 1.2rem;
color : rgba(68, 51, 17, 0.6);
}
.l-footer__left {
float : left;
}
.l-footer__right {
float : right;
}
.l-footer__applink {
height : 28.8rem;
background-color : #f6f5f4;
}
.l-footer__applink__button {
transition : 0.2s 0s ease-out;
width : 23.6rem;
height : 5rem;
border-radius : 0.8rem;
background-color : #32250a;
}
.l-footer__applink__button:hover {
opacity : 0.60000002384185791015625;
}
.l-footer__applink-inner {
position : relative;
}
.l-footer__applink-image {
position : relative;
top : -1rem;
width : 100rem;
height : 29.8rem;
}
.l-footer__applink-button-left {
position : absolute;
top : 19.8rem;
left : 34.6rem;
}
.l-footer__applink-button-right {
position : absolute;
top : 19.8rem;
left : 59.2rem;
}
.l-footer__applink-button {
width : 12.4rem;
height : 3.8rem;
top : 0.6rem;
position : relative;
}
.l-footer__mag-sns {
height : 15.2rem;
}
.l-footer__mag-sns-left {
width : 50%;
float : left;
}
.l-footer__mag-sns-right {
width : 50%;
float : right;
}
.l-footer__mag-image {
width : 21.97rem;
height : 3.5rem;
}
.c-mag-link {
text-decoration : none;
color : #443311;
}
.c-mag-link__text {
font-family : HiraKakuProN-W6;
font-size : 1.3rem;
margin : 4rem 0 2.4rem 0;
height : 1.3rem;
line-height : 1.0;
}
.c-mag-link__image {
width : 22.4rem;
height : 3.5rem;
display : inline;
margin : 0 1.6rem 0 1.6rem;
}
.c-mag-link__image:hover {
opacity : 0.60000002384185791015625;
}
.c-rc-sns-link__text {
font-family : HiraKakuProN-W6;
font-size : 1.3rem;
margin : 4rem 0 2.4rem 0;
height : 1.3rem;
line-height : 1.0;
}
.c-rc-sns-link__image-container {
display : flex;
justify-content : center;
}
.c-rc-sns-link__link {
display : block;
text-decoration : none;
margin : 0 3.2rem 0 0;
}
.c-rc-sns-link__link:last-child {
margin : 0;
}
.c-rc-sns-link__link__image {
transition : 0.2s 0s ease-out;
height : 3.5rem;
width : 3.5rem;
}
.c-rc-sns-link__link__image:hover {
opacity : 0.60000002384185791015625;
}


/*ウエルカム画面CSS*/
.welcome {
    width: 96rem;
    margin: 0 auto;
    padding: 1rem 0 6rem;
}
.welcome:before, .welcome:after {
    content: " ";
    display: table;
}
.welcome .action-view {
    float: left;
    width: 52rem;
    margin: 3rem 0 0;
    text-align: center;
}
.welcome .action-view a.register {
    display: block;
    font-size: 1.8rem;
    font-weight: normal;
    background: #dc3c36;
    width: 42rem;
    color: #fff;
    margin: 2rem auto 3rem;
    padding: 2rem 0;
    line-height: 1;
    text-decoration: none;
    -moz-border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    border-radius: 0.8rem;
    -moz-transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
    -o-transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
    -webkit-transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
    transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
}
.welcome .action-view .sub:before {
    content: "";
    height: .2rem;
    width: 49rem;
    display: inline-block;
    background: url(https://roomclip.jp/assets/img/v3/welcome/welcome-pc-dots.png) repeat-x;
    background-size: contain;
    vertical-align: middle;
}
.welcome .action-view .sub p {
    font-size: 1.6rem;
    color: #563f0e;
    margin-bottom: 1.2rem;
}
.welcome .action-view .sub p img {
    vertical-align: middle;
}
.welcome .action-view .sub a.applink-ad {
    background: #444;
    display: inline-block;
    padding: 1rem 3rem;
    min-width: 15.5rem;
    margin: 0 .5rem;
    -moz-border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    border-radius: 0.8rem;
    -moz-transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
    -o-transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
    -webkit-transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
    transition: background-color 200ms cubic-bezier(0.8, 1, 0.8, 1);
}
.welcome .action-view .sub a.applink-ad img {
    display: inline-block;
    vertical-align: middle;
    max-width: 13rem;
}
.welcome .main-view {
    float: right;
    width: 43.5rem;
}
fieldset, img {
    border: 0;
}
.welcome:after {
    clear: both;
}
