// 各タグに紐づく投稿一覧

#l-top {
  background-color: #ffffff;
  width: 100%;
  padding: 0;
  margin: 0;
  .c-top__container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 0 0 0;
    background-color: #f6f5f4;
    .wrap {
      width: 100rem;
      padding: 0 1rem;
      margin: 0 auto;
     }
    .subject {
      background-color: #f6f5f4;
      font-size: 1.8rem;
      font-weight: bold;
      color: #443311;
      line-height: 1.4;
      padding: 2.4rem 1.4rem 1.6rem;
      width: 100rem;
    }
  }
  .c-top__eyecatch {
    float: left;
    width: 7.2rem;
    display: block;
    margin: 1.6rem 1.6rem 0 0;
  }
  .c-top__info {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f6f5f4;
    color: #8c8477;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1.4rem 2.4rem;
    width: 100rem;
    line-height: 1;
    .counter {
      margin-left: 1rem;
      font-size: 1.1rem;
    }
  }
  .c-top__description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #8c8477;
    font-size: 1.2rem;
    padding: 0 0 2.4rem;
    width: 100rem;
    .p-rel-tag-link {
    color: #8c8477;
    }
  }
}
.ranking-top {
    width: 93.6rem;
    margin: 3rem auto 0;
  h2 {
    font-size: 1.8rem;
    color: #362e2b;
    font-weight: bold;
  }
  .photos ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      &:first-child {
       padding-left: 0;
      }
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      float: left;
      padding-left: 4px;
      padding-right: 4px;
      width: 20%;
      margin: 0;
      padding: 0;
      .tag-tag {
        display: inline-block;
        padding: .2rem;
        background: #fff;
        height: 150px;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      img {
        width: 100%;
        border: .1rem solid #cfc5b8;
        background: #fff;
        display: inline-block;
        height: 100%;
      }
    }
  }
}


// 各ユーザーに紐づくタグ一覧
.container {
  width: 96rem;
  margin: 0 auto;
  overflow: hidden;
  article {
    margin: 0 0 4.0rem 0;
    ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      margin: 2.5rem 0 0 0;
      li{
        &:first-child {
        padding-left: 0;
        }
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        white-space: nowrap;
        float: left;
        padding-left: 4px;
        padding-right: 4px;
        margin: 1.5rem 0 0 0;
        padding: 0;
        a {
          display: inline-block;
          font-size: 1.4rem;
          text-decoration: none;
          margin: 0 0.5rem;
          span {
            &:nth-child(1) {
            display: inline-block;
            color: #362e2b;
            }
            &:nth-child(2) {
            display: inline-block;
            color: #c5ae90;
            }
          }
        }
      }
    }
  }
}

// ユーザーの各プロフィールタグに紐づく投稿一覧
#main {
  width: 98rem;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  .entry-photo-list {
    margin: 3.0rem 0 0 0;
    padding: 0 0 1rem 0;
    height: auto;
    overflow-y: auto;
    position: relative;
    article {
      float: left;
      margin: 0 2.5rem 0 0;
      .month {
        display: table-cell;
        vertical-align: bottom;
        height: 3rem;
        margin: 0 0 0 0.5rem;
        padding: 0 0 1.0rem 0;
        font-size: 1.4rem;
        color: #74615b;
        font-weight: bold;
      }
      .entry-photo {
      width: 17.6rem;
      height: 17.6rem;
      margin: 0.4rem 0 0 0;
      background: #fff;
      float: left;
      margin: 0 2.5rem 0 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6rem 0;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6rem 0;
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.6rem 0;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#dddddd, direction=0, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd, direction=90, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd, direction=180, strength=3, enabled=true), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd, direction=270, strength=3, enabled=true);
        img {
          width: 16.8rem;
          height: 16.8rem;
          margin: 0.4rem;
        }
      }
    }
    #infscr-loading {
    text-align: center;
    z-index: 100;
    padding: 10px;
    background: transparent;
    color: #eee;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    }
  }
}
