<!DOCTYPE html>
  <link rel="stylesheet" href="../assets/stylesheets/header.css">
<div class="welcome">

  <div class="action-view">
    <img src="https://roomclip.jp/assets/img/v3/welcome/welcome-pc-title.png" class="main-txt" alt="RoomClipは、「みんなでつくるお部屋の写真集」">
    <a href="/doc/entry" class="register" title="新規登録ページ、RoomClipって？">
      さっそく新規登録
    </a>

    <div class="sub">
      <p>
        <img src="https://roomclip.jp/assets/img/v3/welcome/welcome-pc-icon.png" alt="無料アプリならインテリア写真がサクサク楽しめる！" title="無料アプリならインテリア写真がサクサク楽しめる！">無料アプリならインテリア写真がサクサク楽しめる！
      </p>
      <a href="https://itunes.apple.com/jp/app/id520802798" class="applink-ad app-ios" target="_blank">
        <img src="https://roomclip.jp/assets/img/1703/logo/logo_appstore@2x.png" alt="RoomClipをAppStoreで無料インストール" title="RoomClipのAppStoreページヘ">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.tunnel.roomclip" class="applink-ad app-ios" target="_blank">
        <img src="https://roomclip.jp/assets/img/1703/logo/logo_googleplay@2x.png" alt="RoomClipをGooglePlayで無料インストール" title="RoomClipのGooglePlayページヘ">
      </a>
    </div>
  </div>

  <div class="main-view">
    <img src="https://s3-ap-northeast-1.amazonaws.com/roomclip-web-img/300/welcome-pc-device.png" class="main-txt" alt="RoomClipは、「みんなでつくるお部屋の写真集」" srcset="https://s3-ap-northeast-1.amazonaws.com/roomclip-web-img/300/welcome-pc-device.png 1x,https://s3-ap-northeast-1.amazonaws.com/roomclip-web-img/300/welcome-pc-device%402x.png 2x">
  </div>

</div>
